h1{
    text-align: center;
    text-size-adjust: 16;
    color: Blue;
    text-decoration-style: double;
    
}
h2{

    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-style: oblique;
    line-height: 0.5cm ;
    font-variant: small-caps;
    opacity: 350%;
    text-decoration: underline;

    
}

.tech{
     color: olive;
     padding-left: 1pc;
     text-indent: 20px;
}
.data{
    color: maroon;
}
.object{
    color: rgb(184, 11, 161);
}
.detail{
    color: rgb(155, 7, 19);
}
.secondary{
    color: deeppink;
}
.higher{
    color: forestgreen;
}
*{
    background-color: khaki;

}
.container{
    margin: 0 auto;
    width: 200px;
    /* background-color: indianred;
    background-size: 200px;
    background-position: center; */
}
