h1{
    text-align: center;
    text-size-adjust: 16;
    color: Blue;
    text-decoration-style: double;
    
}
h2{

    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-style: oblique;
    line-height: 5px ;
    font-variant: small-caps;
    opacity: 0.5px;
    text-decoration: underline;

    
}

.tech{
     color: rgba(21, 199, 190, 0.671);
     padding-left: 1pc;
     text-indent: 20px;
}
.data{
    color: maroon;
}
.object{
    color: rgb(184, 11, 161);
}
.detail{
    color: rgb(155, 7, 19);
}
.secondary{
    color: deeppink;
}
.higher{
    color: forestgreen;
}

.container{
    margin: 0 auto;
    width: 500px;
    background-image: url('../image/Lighthouse.jpg');
    background-position: right;
    background-attachment: fixed;
    
}
.navigation a:link{
        color:rgb(247, 0, 255);
    }
    .navigation a:hover{
          color: lawngreen;
    }
    .navigation a:active{
        color: lightblue;
    }
    .navigation a:visited{
        color: lightcoral;
    }
    .navigation a:focus{
        color: lightsalmon;
    }

